.row {
  clear: both;
}

.box {
  width: 30px;
  height: 30px;
  margin: 2px;
  float: left;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

#button {
  margin-top: 10px;
}
